*.parquet
*.csv
*__pycache__*
Week1_Docker_Terraform/ny_taxi_postgres_data/
*service_keys.json
Week2_Workflow_Orchestration/airflow/logs/
Week5_Batch_Processing/zones/




# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
